  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F0F8FF;
  }
  h1 {
    color: #170966;
  }
  h2 {
    color: #170966;
    font-family: Garamond;
  }
  h3 {
    color: #4937ae;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .heading{
      display: flex;
      justify-content: space-around;
      background-color: #a8a095;
    }
    .heading.flex .fixedColumn {
      width: 90px;
    }
    
    .heading.flex .flexibleColumn {
      flex: 1;
    }
 

  .header{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;

  }
  .main{
    flex-grow: 1;
  .heading{
    display: flex;
  }

  }
  .footer{
    flex-shrink: 0;
  }